<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mapper.UserMapper">
    <resultMap id="rm01" type="cn.tedu.domain.User2">
        <id property="uid" column="id"/>
        <result property="uname" column="name"/>
        <result property="uage" column="age"/>
    </resultMap>
    <select id="selc02" resultMap="rm01">
        select * from user where id &lt; #{id};
    </select>

    <select id="selc01" resultType="cn.tedu.domain.User">
        select * from user where id &lt; #{id};
    </select>
</mapper>