<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mapper.o2mMapper">
    <!--一对多查询 以Emp为视角-->
    <resultMap id="rm02" type="cn.tedu.domain.Emp">
        <id property="id" column="eid"/>
        <result property="name" column="ename"/>
        <association property="dept" javaType="cn.tedu.domain.Dept">
            <id property="id" column="did"/>
            <result property="name" column="dname"/>
        </association>
    </resultMap>
    <select id="o2m02" resultMap="rm02">
        select dept.id as did,dept.name as dname,emp.id as eid,emp.name as ename from dept inner join emp on dept.id = emp.deptid;
    </select>
    <!--一对多查询 以Dept为视角-->
    <resultMap id="rm01" type="cn.tedu.domain.Dept">
        <id property="id" column="did"/>
        <result property="name" column="dname"/>
        <collection property="emps" ofType="cn.tedu.domain.Emp">
            <id property="id" column="eid"/>
            <result property="name" column="ename"/>
        </collection>
    </resultMap>
    <select id="o2m01" resultMap="rm01">
        select dept.id as did,dept.name as dname,emp.id as eid,emp.name as ename from dept inner join emp on dept.id = emp.deptid;
    </select>
</mapper>