<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc10-json格式数据:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc10_json_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc10-json格式数据/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc10-json格式数据" />
        </element>
      </element>
    </root>
  </artifact>
</component>