<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc04-获取参数02:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc04_02_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc04-获取参数02/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc04-获取参数02" />
        </element>
      </element>
    </root>
  </artifact>
</component>