<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc09-异常处理:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc09__war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc09-异常处理/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc09-异常处理" />
        </element>
      </element>
    </root>
  </artifact>
</component>